@use "./base/_reset";
@use "./base/_color";
@use "./base/_typography";
@use "./base/_desktop";
@use "./base/_mobile";
@use "./base/utilities";

html {
	font-size: 10px;
}

body {
	line-height: var(--lh-base);
	font-family: var(--font-family);
	font-size: var(--font-size-base);
	color: var(--color-black);
	letter-spacing: -0.05rem;
}

// display
.w-full {
	width: 100% !important;
}

.h-full {
	height: 100% !important;
}

// title
h1,
.h1 {
	margin-bottom: var(--spacing-40);
	font-size: var(--font-size-h1);
	font-weight: var(--font-weight-bold);
}

h2,
.h2 {
	margin-bottom: var(--spacing-32);
	font-size: var(--font-size-h2);
	font-weight: var(--font-weight-bold);
}

h3,
.h3 {
	margin-bottom: var(--spacing-16);
	font-size: var(--font-size-h3);
	font-weight: var(--font-weight-bold);
}

h4,
.h4 {
	margin-bottom: var(--spacing-16);
	font-size: var(--font-size-h4);
	font-weight: var(--font-weight-bold);
}

h5,
.h5 {
	margin-bottom: var(--spacing-16);
	font-size: var(--font-size-h5);
	font-weight: var(--font-weight-bold);
}

small,
.small {
	font-size: var(--font-size-small);
}

.label {
	margin-bottom: var(--spacing-4);
	display: block;
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-medium);
}

img {
	max-width: 100%;
	max-height: 100%;
}

/* size */
.size {
	&.disabled {
		background-color: var(--color-bg);
		color: var(--color-disabled);
		cursor: default;
	}

	&.readonly {
		background-color: var(--color-bg);
		cursor: default;
	}

	&:focus-within,
	&:hover {
		&:not(.disabled, .readonly, .btn-ghost, .btn-link) {
			border-color: var(--color-gray);
			outline: none;
			box-shadow:
				var(--color-white) 0px 0px 0px 1px,
				var(--color-black) 0px 0px 0px 2px;
			transition: all ease-in-out 0.4s;
		}
	}
}
