:root {
--color-black: #000000; 
--color-white: #ffffff; 
--color-gray: #cccccc; 
--color-disabled-bg: #e5e5e5; 
--color-disabled-color: #262626; 
--color-primary-100: #FCE7F3; 
--color-primary-500: #EC4899; 
--color-primary-900: #DB2777; 
--color-secondary-100: #F5F5F5; 
--color-secondary-500: #E5E5E5; 
--color-secondary-900: #333333; 
--color-success-100: #DBEAFE; 
--color-success-500: #3B82F6; 
--color-success-900: #2563EB; 
--color-info-100: #DCFCE7; 
--color-info-500: #22C55E; 
--color-info-900: #16A34A; 
--color-warning-100: #FEF9C3; 
--color-warning-500: #EAB308; 
--color-warning-900: #CA8A04; 
--color-danger-100: #FEE2E2; 
--color-danger-500: #EF4444; 
--color-danger-900: #DC2626; 

}