:root {
--font-size-h1: 4.8rem; 
--font-size-h2: 4rem; 
--font-size-h3: 3.2rem; 
--font-size-h4: 2.4rem; 
--font-size-h5: 1.8rem; 
--font-size-base: 1.4rem; 
--font-size-small: 1.2rem; 
--spacing-4: 0.4rem; 
--spacing-8: 0.8rem; 
--spacing-10: 1rem; 
--spacing-16: 1.6rem; 
--spacing-24: 2.4rem; 
--spacing-32: 3.2rem; 
--spacing-40: 4rem; 
--spacing-48: 4.8rem; 
--spacing-56: 5.6rem; 
--radius-small: 0.8rem; 
--radius-normal: 1.6rem; 
--radius-full: 999.9rem; 

}