:root {
	--lh-tight: 1.3;
	--lh-base: 1.5;
	--lh-heading: 1.7;
	--font-family: pretendard, noto sans kr, segoe ui, apple sd gothic neo, malgun gothic, sans-serif;
	--font-weight-thin: 100;
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;
}
