/* =========================
  COLOR
========================= */
$color: (
	black: var(--color-black),
	white: var(--color-white),
	gray: var(--color-gray),
	disabled-bg: var(--color-disabled-bg),
	disabled-color: var(--color-disabled-font),
	primary-100: var(--color-primary-100),
	primary-500: var(--color-primary-500),
	primary-900: var(--color-primary-900),
	secondary-100: var(--color-secondary-100),
	secondary-500: var(--color-secondary-500),
	secondary-900: var(--color-secondary-900),
	success-100: var(--color-success-100),
	success-500: var(--color-success-500),
	success-900: var(--color-success-900),
	info-100: var(--color-info-100),
	info-500: var(--color-info-500),
	info-900: var(--color-info-900),
	warning-100: var(--color-warning-100),
	warning-500: var(--color-warning-500),
	warning-900: var(--color-warning-900),
	danger-100: var(--color-danger-100),
	danger-500: var(--color-danger-500),
	danger-900: var(--color-danger-900)
);

@each $name, $value in $color {
	.color-#{$name} {
		color: $value;
	}

	.bg-#{$name} {
		background-color: $value;
	}

	.border-#{$name} {
		border-color: $value;
	}
}

/* =========================
  line-height
========================= */
$lineHeight: tight, base, heading;

@each $lh in $lineHeight {
	.lh-#{$lh} {
		line-height: var(--lh-#{$lh});
	}
}

/* =========================
  font-weight
========================= */
$fontWeight: (
	font-thin: var(--font-weight-thin),
	font-light: var(--font-weight-light),
	font-normal: var(--font-weight-normal),
	font-medium: var(--font-weight-medium),
	font-bold: var(--font-weight-bold)
);

@each $name, $value in $fontWeight {
	.#{$name} {
		font-weight: $value;
	}
}

/* =========================
  font-size
========================= */
$fontSize: (
	font-h1: var(--font-size-h1),
	font-h2: var(--font-size-h2),
	font-h3: var(--font-size-h3),
	font-h4: var(--font-size-h4),
	font-h5: var(--font-size-h5),
	font-base: var(--font-size-base),
	font-small: var(--font-size-small)
);

@each $name, $value in $fontSize {
	.#{$name} {
		font-size: $value;
	}
}

/* =========================
  spacing
========================= */
$spacing: 0, 4, 8, 16, 24, 32, 40, 48;

@each $s in $spacing {
	// margin
	.m-#{$s} {
		margin: var(--spacing-#{$s}) !important;
	}
	.mt-#{$s} {
		margin-top: var(--spacing-#{$s}) !important;
	}
	.mr-#{$s} {
		margin-right: var(--spacing-#{$s}) !important;
	}
	.mb-#{$s} {
		margin-bottom: var(--spacing-#{$s}) !important;
	}
	.ml-#{$s} {
		margin-left: var(--spacing-#{$s}) !important;
	}
	.mx-#{$s} {
		margin-left: var(--spacing-#{$s}) !important;
		margin-right: var(--spacing-#{$s}) !important;
	}
	.my-#{$s} {
		margin-top: var(--spacing-#{$s}) !important;
		margin-bottom: var(--spacing-#{$s}) !important;
	}

	// padding
	.p-#{$s} {
		padding: var(--spacing-#{$s}) !important;
	}
	.pt-#{$s} {
		padding-top: var(--spacing-#{$s}) !important;
	}
	.pr-#{$s} {
		padding-right: var(--spacing-#{$s}) !important;
	}
	.pb-#{$s} {
		padding-bottom: var(--spacing-#{$s}) !important;
	}
	.pl-#{$s} {
		padding-left: var(--spacing-#{$s}) !important;
	}
	.px-#{$s} {
		padding-left: var(--spacing-#{$s}) !important;
		padding-right: var(--spacing-#{$s}) !important;
	}
	.py-#{$s} {
		padding-top: var(--spacing-#{$s}) !important;
		padding-bottom: var(--spacing-#{$s}) !important;
	}

	// gap
	.gap-#{$s} {
		gap: var(--spacing-#{$s}) !important;
	}

	.gap-column-#{$s} {
		column-gap: var(--spacing-#{$s}) !important;
	}

	.gap-row-#{$s} {
		row-gap: var(--spacing-#{$s}) !important;
	}
}

/* =========================
  display
========================= */
$display: (block, inline, inline-block, flex, inline-flex, grid, none);
@each $d in $display {
	.#{$d} {
		display: $d;
	}
}

$flex-direction: row, row-reverse, column, column-reverse;
@each $dir in $flex-direction {
	.flex-#{$dir} {
		flex-direction: $dir;
	}
}

$justify-content: (
	start: flex-start,
	end: flex-end,
	center: center,
	between: space-between,
	around: space-around,
	evenly: space-evenly
);
@each $name, $value in $justify-content {
	.justify-#{$name} {
		justify-content: $value;
	}
}

$align-items: (
	start: flex-start,
	end: flex-end,
	center: center,
	stretch: stretch,
	baseline: baseline
);
@each $name, $value in $align-items {
	.items-#{$name} {
		align-items: $value;
	}
}

$flex-wrap: wrap, nowrap, wrap-reverse;
@each $w in $flex-wrap {
	.flex-#{$w} {
		flex-wrap: $w;
	}
}

.flex-1 {
	flex: 1;
}

.flex-auto {
	flex: auto;
}

.flex-none {
	flex: none;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* =========================
  size
========================= */
$sizes: (
	xs: (
		height: var(--spacing-24),
		padding: 0 var(--spacing-8),
		font-size: var(--font-size-small),
		prefix: var(--spacing-4)
	),
	sm: (
		height: var(--spacing-32),
		padding: 0 var(--spacing-16),
		font-size: var(--font-size-small),
		prefix: var(--spacing-8)
	),
	md: (
		height: var(--spacing-40),
		padding: 0 var(--spacing-16),
		font-size: var(--font-size-base),
		prefix: var(--spacing-8)
	),
	lg: (
		height: var(--spacing-56),
		padding: 0 var(--spacing-24),
		font-size: var(--font-size-h5),
		prefix: calc(var(--spacing-24) / 2)
	)
);
@each $size, $value in $sizes {
	.size-#{$size} {
		height: map-get($value, height);
		padding: map-get($value, padding);
		background-color: var(--color-white);
		border: 1px solid var(--color-gray);
		border-radius: var(--radius-small);
		font-size: map-get($value, font-size);
		transition: all ease-in-out 0.4s;

		&.btn-icon:not(.btn-link) {
			min-width: map-get($value, height);
			padding: 0;
		}

		&:not(.btn, .badge) {
			padding-right: map-get($value, prefix);
		}

		&:has(.prefix) {
			padding-left: map-get($value, prefix);
			.input-text {
				padding-left: map-get($value, prefix);
			}
		}

		&.badge {
			border-radius: calc(map-get($value, height) / 2);
		}

		&.disabled {
			background-color: var(--color-disabled-bg);
			color: var(--color-disabled-font);
			cursor: default;
		}

		&.readonly {
			background-color: var(--color-disabled-bg);
			cursor: default;
		}

		&:focus-within,
		&:hover {
			&:not(.disabled, .readonly, .btn-ghost, .btn-link, .badge) {
				border-color: var(--color-gray);
				outline: none;
				box-shadow:
					var(--color-white) 0px 0px 0px 1px,
					var(--color-black) 0px 0px 0px 2px;
			}
		}

		.input-text {
			padding-right: map-get($value, prefix);
		}
	}
}

.text {
	@each $size, $value in $sizes {
		&-#{$size} {
			font-size: map-get($value, font-size);
		}
	}
}
