@font-face {
	font-family: Pretendard;
	font-weight: 900;
	src: local('Pretendard Black'), url("/fonts/pretendard/woff2/Pretendard-Black.woff2") format('woff2'),
		url("/fonts/pretendard/woff/Pretendard-Black.woff") format('woff');
	font-display: swap;
}

@font-face {
	font-family: Pretendard;
	font-weight: 800;
	src: local('Pretendard ExtraBold'),
		url("/fonts/pretendard/woff2/Pretendard-ExtraBold.woff2") format('woff2'),
		url("/fonts/pretendard/woff/Pretendard-ExtraBold.woff") format('woff');
	font-display: swap;
}

@font-face {
	font-family: Pretendard;
	font-weight: 700;
	src: local('Pretendard Bold'), url("/fonts/pretendard/woff2/Pretendard-Bold.woff2") format('woff2'),
		url("/fonts/pretendard/woff/Pretendard-Bold.woff") format('woff');
	font-display: swap;
}

@font-face {
	font-family: Pretendard;
	font-weight: 600;
	src: local('Pretendard SemiBold'),
		url("/fonts/pretendard/woff2/Pretendard-SemiBold.woff2") format('woff2'),
		url("/fonts/pretendard/woff/Pretendard-SemiBold.woff") format('woff');
	font-display: swap;
}

@font-face {
	font-family: Pretendard;
	font-weight: 500;
	src: local('Pretendard Medium'),
		url("/fonts/pretendard/woff2/Pretendard-Medium.woff2") format('woff2'),
		url("/fonts/pretendard/woff/Pretendard-Medium.woff") format('woff');
	font-display: swap;
}

@font-face {
	font-family: Pretendard;
	font-weight: 400;
	src: local('Pretendard Regular'),
		url("/fonts/pretendard/woff2/Pretendard-Regular.woff2") format('woff2'),
		url("/fonts/pretendard/woff/Pretendard-Regular.woff") format('woff');
	font-display: swap;
}

@font-face {
	font-family: Pretendard;
	font-weight: var(--sd-weight-light);
	src: local('Pretendard Light'), url("/fonts/pretendard/woff2/Pretendard-Light.woff2") format('woff2'),
		url("/fonts/pretendard/woff/Pretendard-Light.woff") format('woff');
	font-display: swap;
}

@font-face {
	font-family: Pretendard;
	font-weight: 200;
	src: local('Pretendard ExtraLight'),
		url("/fonts/pretendard/woff2/Pretendard-ExtraLight.woff2") format('woff2'),
		url("/fonts/pretendard/woff/Pretendard-ExtraLight.woff") format('woff');
	font-display: swap;
}

@font-face {
	font-family: Pretendard;
	font-weight: 100;
	src: local('Pretendard Thin'), url("/fonts/pretendard/woff2/Pretendard-Thin.woff2") format('woff2'),
		url("/fonts/pretendard/woff/Pretendard-Thin.woff") format('woff');
	font-display: swap;
}

@font-face {
	font-family: Wemakeprice;
	font-style: normal;
	font-weight: 400;
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Regular.woff') format('woff');
}